@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    @apply font-body bg-dark text-white
}

h1, h2 {
  @apply font-heading;
}

/* input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--dark) inset;
  -webkit-text-fill-color: white;
  transition: background-color 9999s ease-in-out 0s;
} */

/* Hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}

.typing {
  @apply overflow-hidden whitespace-nowrap border-r-2 border-white;
  animation: typing 3s steps(11, end) forwards, blink 0.8s infinite;
}

@keyframes typingScroll {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinkCursor {
  50% { border-color: transparent }
}

.typing-scroll {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid currentColor;
  animation: typingScroll 2.3s steps(12) infinite alternate,
             blinkCursor 0.8s infinite;
}

@keyframes blink {
  50% { border-color: transparent; }
}

.animate-blink {
  animation: blink 0.8s infinite;
}
